{% load static %}
{% if user.is_authenticated %}
  <h1>you already are logged in</h1>
  {% else %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aromatics Store - Login</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="{% static  'vendors/bootstrap/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css'%}">
 <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	{% include "parts/navbar.html" %}
	<!--================ End Header Menu Area =================-->
  <!--================Login Box Area =================-->
  	{% if messages %}
    {% for message in messages %}
	<div class="alert alert-warning alert-dismissible fade show"  style="width: 100%; text-align: center;" role="alert">
 {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  </button>
</div>
</div>
    {% endfor %}
{% endif %}
	<section class="login_box_area section-margin">
		<div class="container">
		
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Already have an account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="{% url 'login'  %}">Login Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Create an account</h3>
						<form class="row login_form" action="" method="POST" id="register_form" >
						{% csrf_token %}

							{{form.as_p}}
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">Register</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	
	</section>
	<!--================End Login Box Area =================-->
  <!--================ Start footer Area  =================-->	
   {% include "parts/footer.html" %}
	<!--================ End footer Area  =================-->



  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js'%}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendors/skrollr.min.js'%}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js'%}"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js'%}"></script>
  <script src="{% static 'vendors/mail-script.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
</body>
</html>
{% endif %}