
{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aromatics Store - Login</title>
  <link rel="icon" href="{% static 'imgs/logo.png'%}" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static  'vendors/fontawesome/css/all.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/linericon/style.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	  {% include "parts/navbar.html" %}
<!--===============================================================================-->
  <form action="" method="post">
  {% csrf_token %}
  <form class="row login_form" action="#/" id="contactForm" method="POST" >
						 {% csrf_token %}
                         {{ form  }}
                              <input type="submit" class="btn btn-default btn-lg" value="change password">
						</form>
  
   
  </form>
 <!--================ Start footer Area  =================-->	
	 {% include "parts/footer.html" %}
	<!--================ End footer Area  =================-->



 



 <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js'%}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js'%}"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js'%}"></script>
  <script src="{% static 'vendors/mail-script.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
</body>
</html>
